VikingRPGDefaultRP/VikingRPGDefaultRP/Assets/Visuals/Materials/Weapons.meta
VikingRPGDefaultRP/VikingRPGDefaultRP/Assets/Visuals/TextureMaps/Weapons/CarolingianSword2.meta
VikingRPGDefaultRP/VikingRPGDefaultRP/Assets/Visuals/luts.meta
